{%- style -%}
    .material-wrapper{
        margin:0 0 0 auto;
        width: 70%;
    }
    .material-card{
        display: flex;
        gap: 32px;
        padding:32px 0;
        align-items: end;
    }
    .material-title{
        font-size:32px;
        font-weight:600;
        color: #373433;
    }
    .material-order{
        font-size:18px;
        vertical-align:super;
    }
{%- endstyle -%}
    <div class="material-card">
        <img id="{{ photo.id }}" src="{{ photo | image_url: height:300 }}">
        <div class="material-textarea">
            <div class="material-title">
                <span class="material-order">{{ name.value[0] }}</span>
                <span class="zh">{{ name.value[1] }}</span>
                <span class="en">{{ name.value[2] }}</span>
            </div>
            <p class="material-info">{{ info }}</p>
        </div>
    </div>