{%- style -%}
    .custom-index-services{
        padding:100px 0;
        background-color:#EFEFEF;
        border-radius: 100px;
    }
    .test{
        height:100px;
        background-color:#000;
    }
    .big-title{
        font-size:36px;
        font-weight:900;
        color:#373433;
    }
    span.green{
            color:#CDDE00;
    }
    .custom-index-services.flex{
        padding:20px 0;
        display:flex;
        flex-flow:row;
        flex-wrap:wrap;
    }
    .custom-index-services.flex.reverse{
        flex-flow:row-reverse;
    }
    .index-services-textarea{
        width:48%;
        padding:80px 80px 80px 40px;
        &.r{
            padding:80px 40px 80px 80px;
        }
    }
    .index-services-image{
        width:52%;
    }
    .custom-subtitle{
        font-size: 24px;
        font-weight: 700;
        line-height:150%;
    }
    .custom-index-services-btnbox{
        padding:80px 0 0 0;
        display:flex;
        flex-flow:row;
        gap:40px;
    }
    .main-button-block{
        text-decoration: none;
        border-radius: 40px;
        padding:32px 52px;
        width:50%;
        position: relative;
        .services-btn-title{
            font-size:32px;   
            color:#FFF; 
            margin:0;
            padding:0;
            font-weight:600;
            letter-spacing: 5px;
            &.t-gray{
                color:#373433;
            }
        }
        .textarea{
            padding:0 20px;
            display:flex;
            flex-flow:column;
            justify-content:center;
            p{
                margin-bottom:0px;
            }
        }
    }
    .arrow-btn{
        display:flex;
        flex-flow:row;
        justify-content:center;
        align-items:center;
        position: absolute;
        right:0px;
        bottom:0px;
        z-index:1;
    }
    .btn-green{
        display:flex;
        flex-flow:row;
        justify-content:center;
        align-items:center;
        width:60px;
        height:60px;
        border-radius:35px;
        position: absolute;
        top:30px;
        left:30px;
        background-color:#CDDE00;
        &::before {
            content: url("https://cdn.shopify.com/s/files/1/0822/9892/9425/files/arrow-black.svg?v=1712127365");
            display: block;
            width: 22px;
            margin:7px 0 0 2px ;
            transform:rotate(0.93turn);
        }
    }
    .btn-gray{
        display:flex;
        flex-flow:row;
        justify-content:center;
        align-items:center;
        width:60px;
        height:60px;
        border-radius:35px;
        position: absolute;
        top:30px;
        left:30px;
        background-color:#373433;
        &::before {
            content: url("https://cdn.shopify.com/s/files/1/0822/9892/9425/files/union_white.svg?v=1712127819");
            display: block;
            width: 22px;
            margin:7px 0 0 2px ;
            transform:rotate(0.93turn);
        }
    }
    .text-justify{
        text-align:justify;
    }
    .flex-row{
        display:flex;
        flex-flow:row;
    }
    .bg-green{
        background-color:#CDDE00;
        color:#373433;
    }
    .bg-gray{
        background-color:#373433;
        color:#FFFFFF7a;
    }
    {%- endstyle -%}
    
          <div class="custom-index-services">
            <div class="page-width">
                <div class="big-title"><span class="green">Our</span> Services
                </div>
                <div class="custom-index-services flex">
                    <div class="index-services-textarea">
                        <h3 class="custom-subtitle">以潛水布Neoprene為主要材質<br>
                            提供從設計到製造的完整專業服務。</h3>
                        <p class="text-justify">我們提供多樣化的服務方案讓您選擇，從客製商品訂製到現有版型Logo印刷，就讓最專業的Axon的設計團隊，為您打造最有質感的商品吧！</p>
                    </div>
                    <div class="index-services-image">
                        <img
                        srcset="{{ images['index_img_tc04_1.png'] | image_url }}"
                        src="{{ ['index_img_tc02_1.png'] | image_url: width: 800 }}"
                        sizes="(min-width: 400px) 298px, 50vw"
                        alt=""
                        width="100%"
                        height=""
                      >
                    </div>
                </div>
                <div class="custom-index-services flex reverse">
                    <div class="index-services-textarea r">
                        <h3 class="custom-subtitle">真摯的情感和用心的服務，<br>
                            能夠將合作昇華為難忘的回憶。</h3>
                        <p class="text-justify">與客戶建立長期互惠的合作關係，這是AXON從始至終堅持的服務理念！在每一次的合作中，我們都將您的需求視為最優先的事情。</p>
                    </div>
                    <div class="index-services-image">
                        <img
                        srcset="{{ images['index_img_tc04_1.png'] | image_url }}"
                        src="{{ ['index_img_tc02_1.png'] | image_url: width: 800 }}"
                        sizes="(min-width: 400px) 298px, 50vw"
                        alt=""
                        width="100%"
                        height=""
                      >
                    </div>
                </div>
                {% comment %} 服務按鈕 {% endcomment %}
                <div class="custom-index-services-btnbox">
                    <div class="flex-row main-button-block bg-gray">
                        {{ images['events_illust_1_1.png'] | image_url: width: 92 | image_tag }}
                        <div class="textarea">
                            <h4 class="services-btn-title">大宗採購</h4>
                            <p>我們會根據功能和耐用度，以及「優雅地老化」能力之間的平衡來選擇</p>
                        </div>
                        <a href="" class="arrow-btn">
                            {{ images['union_gray.svg'] | image_url: width: 90 | image_tag }}
                            <div class="btn-gray">
                            </div>
                        </a>
                    </div>
                    <div class="flex-row main-button-block bg-green">
                        {{ images['events_illust_2_1.png'] | image_url: width: 92 | image_tag }}
                        <div class="textarea">
                            <h4 class="services-btn-title t-gray">大宗採購</h4>
                            <p>我們會根據功能和耐用度，以及「優雅地老化」能力之間的平衡來選擇</p>
                        </div>
                        <a href="" class="arrow-btn">
                            {{ images['union_gray.svg'] | image_url: width: 90 | image_tag }}
                            <div class="btn-green">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
          </div>