{%- style -%}
  .full-bg {
    .service-textarea {
      width: 48%;
      padding: 80px 80px 80px 40px;
      @media screen and (max-width: 740px) {
        width: 100%;
        padding: 0;
      }
      &.r {
        padding: 80px 40px 80px 80px;
        @media screen and (max-width: 740px) {
          padding: 0;
        }
      }
    }
    .service-image {
      width: 52%;
      @media screen and (max-width: 740px) {
        width: 100%;
      }
    }
    .services-btn-wrapper {
      padding: 80px 0 0;
      gap: 40px;
      .heading-1 {
        color: #fff;
        margin: 0;
        padding: 0;
        letter-spacing: 5px;
        &.text-gray {
          color: #373433;
        }
      }
      .main-button-block {
        text-decoration: none;
        border-radius: 40px;
        padding: 32px 52px;
        width: 50%;
        position: relative;
        @media screen and (max-width: 740px) {
          padding: 20px;
          align-items: center;
          width: 100%;
        }
        .textarea {
          padding: 0 20px;
          display: flex;
          flex-flow: column;
          justify-content: center;
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
{%- endstyle -%}

<div class="full-bg">
  <div class="page-width">
    <div class="heading-1 py-md-40">
      <span class="text-green">Our</span>
      Services</div>
    <div class="flex-md-row py-md-40 mb-reverse">
      <div class="service-textarea">
        <h3 class="heading-3 scroll-trigger animate--slide-in">
          細心聆聽客戶的需求，<br>
          提供從設計到製造的完整專業服務。
        </h3>
        <p class="text-justify animate--slide-in">
          我們提供多樣化的服務方案讓您選擇，從客製商品訂製到現有版型Logo印刷，就讓最專業的Axon的設計團隊，為您打造最有質感的商品吧！
        </p>
      </div>
      <div class="service-image animate--slide-in">
        <img
          srcset="{{ images['about-02.png'] | image_url: width: 800 }}"
          sizes="(min-width: 400px) 600px, 100vw"
          alt=""
          width="100%"
          height="">
      </div>
    </div>
    <div class="flex-md-row">
      <div class="service-image animate--slide-in">
        <img
          srcset="{{ images['about-03.png'] | image_url: width: 800 }}"
          sizes="(min-width: 400px) 298px, 50vw"
          alt=""
          width="100%"
          height="">
      </div>
      <div class="service-textarea">
        <h3 class="heading-3 animate--slide-in">
          真摯的情感和用心的服務，<br>
          能夠將合作昇華為難忘的回憶。
        </h3>
        <p class="text-justify animate--slide-in">
          與客戶建立長期互惠的合作關係，這是AXON從始至終堅持的服務理念！在每一次的合作中，我們都將您的需求視為最優先的事情。
        </p>
      </div>
    </div>
    {% comment %} 服務按鈕 {% endcomment %}
    <div class="services-btn-wrapper flex-md-row ">
      <div class="flex-row main-button-block bg-gray animate--slide-in">
        {{ images['events_illust_1_1.png'] | image_url: width: 92 | image_tag }}
        <div class="textarea">
          <h4 class="heading-1">客製化</h4>
          <p>依照客戶的需求，打造獨特的產品</p>
        </div>
        <a href="https://axon-tw.com/pages/custom" class="arrow-btn">
          {{ images['union-gray.svg'] | image_url: width: 90 | image_tag }}
          <div class="btn-gray">
            {{ images['arrow-white.svg'] | image_url: width: 22 | image_tag }}
          </div>
        </a>
      </div>
      <div class="flex-row main-button-block bg-green animate--slide-in">
        {{ images['events_illust_2_1.png'] | image_url: width: 92 | image_tag }}
        <div class="textarea">
          <h4 class="heading-1 text-gray">大宗採購</h4>
          <p>為企業、團體等提供專屬的優惠</p>
        </div>
        <a href="https://axon-tw.com/pages/bulk-purchase" class="arrow-btn">
          {{ images['union-gray.svg'] | image_url: width: 90 | image_tag }}
          <div class="btn-green">
            {{ images['arrow-black.svg'] | image_url: width: 22 | image_tag }}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>