{%- style -%} 
    .page-title{
        margin:120px 0;
    }
    .big-title{
        font-size:64px;
        font-weight:900;
        color:#CDDE00;
        span{
        color:#373433;
        }
    }
    
    .zh-title{
        font-size:16px;
        letter-spacing:5px;
    }
{%- endstyle -%}
{% comment %} {% assign service_handle_url = request.path | split: "/" | last %} {% endcomment %}
{% assign services = shop.metaobjects.services.values %}
{% assign fqas = shop.metaobjects.fqa.values | where: "type", "bulk" %}
{% assign photos = shop.metaobjects.odm_slider_1.values %}

<div class="custom-index-services">
    {% for service in services %}
        {% if service.system.handle == "bulk-purchase" %}
        <div class="page-width">
            {% render 'page-title', herotitle: service.herotitle %}      
        </div>
        <div class="w-100">
            {% for photo in photos %}
                <img src="{{ photo.image | image_url: height:300 }}">
            {% endfor %}
        </div>
        <h1>{{ service.title }}</h1>
        <p>{{ service.description }}</p>
        <div class="fqa">
            {% for fqa in fqas %}
               <p>{{fqa.question}}</p>
                <p>{{fqa.answer}}</p>
            {% endfor %}
        </div>
        <p>{{ service.subtitle }}</p>
        {% endif %}
    {% endfor %}
</div>
